  %ul
    %li
      = unless @hide_join_button do
        = link(to: league_path(@conn, :join, @league.id), class: "btn", method: :post) do
          %span.icon.icon--left.ion-plus-circled
          Join League
        - end
      - end
