%table.stat-table
  %thead
    %tr
      %th GP
      %th W
      %th L
      %th Skill

  %tbody
    %tr
      %td= 1
      %td= 2
      %td= 3
      %td= 4

.skill-history-label No data available

  -# %tbody[membership]
  -#   %tr
  -#     %td= membership.games.count
  -#     %td= membership.games.won(membership).count
  -#     %td= membership.games.count - membership.games.won(membership).count
  -#     %td= membership.skill.round(2)
