.wrapper
  = render "header_new.html", conn: @conn

.container
  %h2 Create League
  = render "form.html", changeset: @changeset, action: league_path(@conn, :create)

  -# = simple_form_for resource, url: collection_url do |form|
  -#   -if resource.errors.any?
  -#     .error_explanation
  -#       %h2 You Dropped The Ball!
  -#       %ul
  -#         - resource.errors.full_messages.each do |msg|
  -#           %li= msg
  -#
  -#   = render partial: 'form', object: form
  -#
  -#   .well
  -#     = form.button :submit
