<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Office Tournament</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="<%= home_path @conn, :index %>">
              <img src="/images/office-ladder-logo.svg" />
            </a></li>
            <li "<%= "/" |> active(@conn) |> raw %>"><a href="<%= home_path @conn, :index %>">Home</a></li>
            <li "<%= "/users" |> active(@conn) |> raw %>"><a href="<%= admin_user_path @conn, :index %>">Users</a></li>
            <li "<%= "/leagues" |> active(@conn) |> raw %>"><a href="<%= admin_league_path @conn, :index %>">Leagues</a></li>
            <li "<%= "/logout" |> active(@conn) |> raw %>"><a href="<%= user_session_path @conn, :logout %>">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
