<!DOCTYPE html>
<html lang="en">
<head>
  <title>Office Tournament</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" media="all">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner %>
  <div class="footer"></div>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
