.wrapper

  .header
    %ul
      %li
        %a{href: 'test', class: 'btn'}
          %span.icon.icon--left.ion-plus-circled
          Create thing
    .logo
      %a{href: 'home'}
        %img{src: 'images/office-ladder-logo.svg'}
    .member
      #{@current_user.name}
      %a{href: "signout", class: 'btn btn--transparent'}
        Sign Out
  .ladder
    %h2 Things

    Here is the stuff

  .recent
    %h2 Recent Games

    .recent__games
      %span.no-data-label No Data Available
