.wrapper
  = render Officetournament.SharedView, "_header.html", conn: @conn, return_url: league_path(@conn, :new), btn_text: "Create league"

  .ladder
    %h2 Leagues

    = render("leagues.html", leagues: @leagues, conn: @conn)

  .recent
    %h2 Recent Games

    .recent__games
      %span.no-data-label No Data Available
