<h2>Welcome home</h2>

<%= if logged_in?(@conn) do %>
<p><%= @current_user.name %></p>
<%= else %>
  <p>Not logged in</p>
<%= end %>

<a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "github" %>">
  <i class="fa fa-github"></i>
  Sign in with GitHub
</a>
