.wrapper

  .header
    %ul
      %li
        %a{href: 'test', class: 'btn'}
          %span.icon.icon--left.ion-plus-circled
          Create league
    .logo
      = link(to: home_path(@conn, :index)) do
        %img{src: 'images/office-ladder-logo.svg'}
      - end
    .member
      #{@current_user.name}
      = link("Sign Out", to: user_session_path(@conn, :logout), class: "btn btn--transparent")

  .ladder
    %h2 Leagues

    Here is the stuff

  .recent
    %h2 Recent Games

    .recent__games
      %span.no-data-label No Data Available
