-# .player[@league]
.player#player-id
  .player__image
    = link(to: league_path(@conn,:show, @league)) do
      %img{ src: "images/office-ladder-logo.svg", style: "height:180px; width:180px;"}
    - end
    -# = link to: resource_url(@league) do
      -# - if league.sport == 'foosball'
      -#   = image_tag("office-ladder-logo-foos.svg", style: 'height:180px; width:180px;')
      -# - else
      -# = image_tag("office-ladder-logo.svg", style: 'height:180px; width:180px;')
    -# - end

  .player__info
    = link(@league.name, to: league_path(@conn, :show, @league), class: "player__name")

    %table.stat-table
      %thead
        %tr
          %th GP
          %th Members
      %tbody
        %tr
          %td= 1
          %td= @league.memberships |> Enum.count
          -# %td= @league.games.count
