
.splash

  .product
    .wrapper

      .product__desc
        .logo
          %img{src: "images/office-ladder-logo.svg"}

        %h2 Welcome to the underbelly of ping-pong

        .well
          = link_to(auth_path(@conn, :index, "google"), "Sign in with Google", %{class: 'btn btn--google'})
          = link_to(auth_path(@conn, :index, "github"), "Sign in with Github", %{class: 'btn btn--github'})

      .screenshot
