
.splash

  .product
    .wrapper

      .product__desc
        .logo
          %img{src: "images/office-ladder-logo.svg"}

        %h2 Welcome to the underbelly of ping-pong

        .well
          = link("Sign in with Google", to: auth_path(@conn, :index, "google"), class: "btn btn--google")
          = link("Sign in with Github", to: auth_path(@conn, :index, "github"), class: "btn btn--github")

      .screenshot
