<h2>Edit league</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_league_path(@conn, :update, @league) %>

<%= link "Back", to: admin_league_path(@conn, :index) %>
