<h2>Show league</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @league.name %>
  </li>

</ul>

<%= link "Edit", to: admin_league_path(@conn, :edit, @league) %>
<%= link "Back", to: admin_league_path(@conn, :index) %>
