<%= bootstrap_form_for @conn, login_path(@conn, :index), [name: :login], fn f -> %>

  <%= bootstrap_text_input f, :username, "Username: " %>

  <%= bootstrap_password_input f, :password, "Password: "%>

  <%= bootstrap_submit "Submit", class: "btn btn-primary" %>
<% end %>
