<%= bootstrap_form_for @conn, login_path(@conn, :index), [name: :login], fn f -> %>

  <label>Username: 
    <%= bootstrap_text_input f, :username %>
  </label>

  <div class="form-group">
    <label>Password: 
      <%= password_input f, :password%>
    </label>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
