.header
  = @inner_html
  .logo
    = link(to: home_path(@conn, :index)) do
      %img{src: '/images/office-ladder-logo.svg'}
    - end
  .member
    #{current_user.name}
    = link("Sign Out", to: user_session_path(@conn, :logout), class: "btn btn--transparent")

